<%= form_for(@user) do |f| %>
    
        <%= render 'shared/error_messages' %>
        
        <span class="input input--kuro">
        <%= f.text_field :name, class:"input__field input__field--kuro form_control" %>
      
        <%= f.label(:name, class:"input__label input__label--kuro") do %>
            <%= '<span class="input__label-content input__label-content--kuro">Username</span>'.html_safe %>
        <% end %>
        </span>
        
        <span class="input input--kuro">
        <%= f.email_field :email, class:"input__field input__field--kuro form_control" %>
      
        <%= f.label(:email, class:"input__label input__label--kuro") do %>
            <%= '<span class="input__label-content input__label-content--kuro">Email</span>'.html_safe %>
        <% end %>
        </span>
        
        <span class="input input--kuro">
        <%= f.password_field :password, class:"input__field input__field--kuro form_control" %>
      
        <%= f.label(:password, class:"input__label input__label--kuro") do %>
            <%= '<span class="input__label-content input__label-content--kuro">Password</span>'.html_safe %>
        <% end %>
        </span>
        
        <span class="input input--kuro">
        <%= f.password_field :password_confirmation, class:"input__field input__field--kuro form_control" %>
      
        <%= f.label(:password_confirmation, class:"input__label input__label--kuro") do %>
            <%= '<span class="input__label-content input__label-content--kuro">Confirm Password</span>'.html_safe %>
        <% end %>
        </span>
         <span class="input input--kuro">
      <%= f.submit "Submit", class: "btn btn-danger btn-block" %>
      </span>
    <% end %>