<section id="packaging" class="container packaging content-section text-center">
     
</section>
    <section id="footer" class="container">
    
    	
    <div class="row footer-row">
    <div class="col-lg-offset-1 col-lg-2 col-md-2 col-sm-2 col-xs-10">
        <%= link_to image_tag("footer-logo.png", id: "footer-logo"),
            root_path %>
    	</div>
    	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-10">
    	<ul class="footer-nav">
    	<li><%= link_to "SUBSCRIBE", subscribe_path %></li>
    	<li><%= link_to "OUR TEA", ourTea_path %></li>
    	<li><%= link_to "HOW IT WORKS", about_path %></li>
    	
    	</ul>
    	</div>
    	
    	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-10">
    	
    	<ul class="footer-nav">
        <li><%= link_to "HOME", root_path %></li>
    	<li><%= link_to "CONTACT", contact_path %></li>
    	<li><%= link_to "BLOG", 'http://www.teasontheloose.com/blog' %></li>
    	</ul>
    	</div>
    	
    	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-10">
    	<ul class="footer-nav">
    	<li><%= link_to "FAQ", faq_path %></li>
    	<li><%= link_to "PRIVACY POLICY", privacypolicy_path %></li>
    	
    	
    	</ul>
    	
    	</div>
    	
    </div>
    <div class="row footer-row">
    	<div class="col-lg-offset-1 col-lg-5 col-sm-5 col-med-offset-1">
    	<p class="small footer-text">&copy;Teas on the Loose 2015 All Rights Reserved.</p>
    	</div>
    	<div class="col-lg-offset-1 col-lg-5 col-sm-5 col-med-offset-1 social">
    	<ul class="list-inline footer-social banner-social-buttons">
                    <li class="social-footer"><a href="http://twitter.com/TeasontheLoose" class="btn btn-footer btn-md"><i class="fa fa-twitter fa-fw"></i><span class="network-name"></span></a>
                    </li>
                    <li class="social-footer"><a href="http://www.pinterest.com/teasontheloose/" class="btn btn-footer btn-md"><i class="fa fa-pinterest fa-fw"></i> <span class="network-name"></span></a>
                    </li>
                    <li class="social-footer"><a href="https://www.facebook.com/teasontheloose" class="btn btn-footer btn-md"><i class="fa fa-facebook fa-fw"></i> <span class="network-name"></span></a>
                    </li>
                    <li class="social-footer"><a href="http://instagram.com/teasontheloose" class="btn btn-footer btn-md"><i class="fa fa-instagram fa-fw"></i> <span class="network-name"></span></a>
                    </li>
                    <li class="social-footer"><a href="https://plus.google.com/102017966332122579081" rel="publisher" class="btn btn-footer btn-md"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name"></span></a>
                    </li>
                </ul>
    	</div>
    </div>
     
    </section>