<!DOCTYPE html>
<html class="no-js">
<head>
  <title><%= yield(:title) %> | Teas on the Loose</title>
  <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Premium Loose Leaf Tea Subcriptions">
    <meta name="author" content="Teas on the Loose">

    <!-- Fonts -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>



</head>


<body id="page-top" data-spy="scroll" data-target=".navbar-custom">


<%= render 'layouts/nav' %>
<%= render 'shared/flash' %>

<%= yield %>

<%= render 'layouts/footer' %>
<%= debug(params) if Rails.env.development? %>


    <!-- Core JavaScript Files -->
    <script>
      (function() {
        // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
        if (!String.prototype.trim) {
          (function() {
            // Make sure we trim BOM and NBSP
            var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
            String.prototype.trim = function() {
              return this.replace(rtrim, '');
            };
          })();
        }
        [].slice.call(document.querySelectorAll('input.input__field')).forEach(function(inputEl) {
          // in case the input is already filled..
          if (inputEl.value.trim() !== '') {
            window.classie.add(inputEl.parentNode, 'input--filled');
          }
          // events:
          inputEl.addEventListener('focus', onInputFocus);
          inputEl.addEventListener('blur', onInputBlur);
        });

        function onInputFocus(ev) {
          window.classie.add(ev.target.parentNode, 'input--filled');
        }

        function onInputBlur(ev) {
          if (ev.target.value.trim() === '') {
            window.classie.remove(ev.target.parentNode, 'input--filled');
          }
        }
      })();
    </script>
    
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
    <!--<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>-->
    <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>-->

    <!-- Google Maps API Key - You will need to use your own API key to use the map feature -->
    <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>-->

    <!-- Custom Theme JavaScript -->
    <!--<script src="js/grayscale.js"></script>-->
    <!-- <script src="js/gift.js"></script>-->

</body>
</html>
